@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Secular";
  src: url(../Fonts/SecularOne.ttf);
  font-display: swap;
}

/* Global Styling */

body {
  background-image: url("../Images/new/landscape-portfolio-bg.webp");
  background-size: contain;
  color: white;
}

h2 {
  background-color: hsla(220, 5%, 11%, 0.7);
  border: 3px solid whitesmoke;
  text-align: center;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem;
}

h3 {
  background-color: hsla(220, 5%, 11%, 0.8);
  border-bottom: 3px solid whitesmoke;
  text-align: center;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}

ul {
  background-color: hsla(220, 5%, 11%, 0.7);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 2rem;
  margin-right: 2rem;
  list-style-position: inside;
  list-style-type: circle;
}

@media only screen and (min-width: 600px) {
  ul{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

p {
  background-color: hsla(220, 5%, 11%, 0.7);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: .5rem;
}

@media only screen and (min-width: 600px) {
  p {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

.link {
  color: hsl(174, 100%, 62%);
  cursor: pointer;
}

.link:hover {
  color: hsl(142, 100%, 50%);
}

/* Header Section*/
h1.banner {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  background-color: hsla(220, 5%, 11%, 0.7);
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 600px) {
  h1.banner {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
}

/* Skills Section */
@media only screen and (min-width: 601px) {
  .skills {
    display: flex;
  }
}

.hardskills {
  width: 100vw;
}

@media only screen and (min-width: 600px) {
  /* for desktop/tablet */
  .hardskills {
    width: 50vw;
  }
}

.softskills {
  width: 100vw;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .softskills {
    width: 50vw;
  }
}

/* Projects Section */
.project-buttons {
  text-align: center;
}

.prior {
  color: hsl(174, 100%, 62%);
  background-color: hsla(220, 5%, 11%, 0.8);
  border: 1px inset whitesmoke;
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.prior:hover {
  color: hsl(142, 100%, 50%);
  background-color: hsl(210, 11%, 22%);
}

.next {
  color: hsl(174, 100%, 62%);
  background-color: hsla(220, 5%, 11%, 0.8);
  border: 1px inset whitesmoke;
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.next:hover {
  color: hsl(142, 100%, 50%);
  background-color: hsl(210, 11%, 22%);
}

.project {
  background-color: hsla(220, 5%, 11%, 0.7);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media only screen and (min-width: 600px) {
  .project {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

.project h4{
  border-bottom: 3px solid whitesmoke;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-bottom: 0.5rem;
  padding-right: 0.25rem;
}

.project ul{
  margin-top: 0;
  margin-bottom: .75rem;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

/* Contact.js */
.contactTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactTitle h2 {
  font-size: 1.75rem;
}

.contact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact p {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  color: hsl(230, 36%, 84%);
  margin-bottom: 1rem;
}

.contact form {
  display: inline-flex;
  flex-direction: column;
  background-color: hsla(220, 5%, 11%, 0.55);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid whitesmoke;
}

.contact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact button {
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.contact button:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

/* Footer.js */
.footer {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer a {
  color: hsl(240, 100%, 50%);
  cursor: pointer;
}

.footer a:hover {
  color: hsl(132, 100%, 50%);
}
