@font-face {
    font-family: "Inconsolata";
    src: url(../Fonts/InconsolataVariable.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Secular';
    src: url(../Fonts/SecularOne.ttf);
    font-display: swap;
}

body {
  background-image: url("../Images/new/landscape-portfolio-bg.webp");
  background-size: contain;
}

/* Header.js */
h1.banner{
    font-family: 'Secular', Arial, Helvetica, sans-serif;
    color: hsl(230, 36%, 84%);
    background-color: hsla(220, 5%, 11%, .7);
    text-align: center;
    font-size: 4rem;
    border-bottom: 3px solid whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Style Nav Section */
.style{
    background-color: hsla(230, 36%, 84%, 0.8);
  backdrop-filter: blur(3px);
    border-bottom: 3px solid whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.style h2{
    text-align: center;
    font-family: 'Secular', Arial, Helvetica, sans-serif;
}

.style nav{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inconsolata' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.style p{
    padding-right: .5rem;
    padding-left: .5rem;
}

.style span{
    color: hsl(240, 100%, 50%);
    cursor: pointer;
}

.style span:hover{
  color: hsl(132, 100%, 50%);
}

/* Skills.js */
.hero{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: hsl(230, 36%, 84%);
    border-bottom: 3px solid whitesmoke;
}

@media only screen and (min-width: 601px) {
    .hero{
        background-size: cover;
        background-position: center;
    }
}

p.banner{
    font-family: 'Inconsolata' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(220, 5%, 11%, .65);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.skillsTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skillsTitle h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

.hardbutton {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-image: linear-gradient(
    hsl(150, 1%, 50%),
    hsl(210, 25%, 97%) 50%,
    hsl(150, 1%, 50%)
  );
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.hardbutton:hover {
  background-image: linear-gradient(
    hsl(210, 25%, 97%),
    hsl(150, 1%, 50%),
    hsl(210, 25%, 97%)
  );
}

.hardbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(0, 100%, 54%);
  background-image: linear-gradient(
    hsl(150, 1%, 50%),
    hsl(0, 0%, 29%),
    hsl(150, 1%, 50%)
  );
}

.softbutton {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(240, 100%, 88%),
    hsl(0, 0%, 100%)
  );
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.softbutton:hover {
  background-image: linear-gradient(
    hsl(240, 100%, 88%),
    hsl(0, 0%, 100%),
    hsl(240, 100%, 88%)
  );
}

.softbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(180, 100%, 65%);
  background-image: linear-gradient(
    hsl(0, 3%, 78%),
    hsl(240, 87%, 80%),
    hsl(0, 3%, 78%)
  );
}

@media only screen and (min-width: 601px) {
  .skills {
    display: flex;
    justify-content: space-between;
  }
}

/* Hard Skills section */
.hardskills {
  background-color: hsla(220, 5%, 11%, 0.8);
  backdrop-filter: blur(3px);
  display: inline-block;
  color: hsl(230, 36%, 84%);
  width: 100vw;
}

.hardskills[data-visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .hardskills {
    width: 50vw;
  }

  .hardskills[data-visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

.skillsh2 {
  text-align: center;
  padding: 1rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
}

.skillsblock {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
}

.skillIcon {
  text-align: center;
  padding: 1rem;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  font-size: 250%;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .icon {
    font-size: 210%;
  }
}

.htmlIcon {
  color: hsl(30, 100%, 50%);
}

.cssIcon {
  color: hsl(210, 100%, 50%);
}

.javascriptIcon {
  color: hsl(60, 100%, 50%);
}

.reactIcon {
  color: hsl(195, 91%, 69%);
}

.githubIcon {
  color: hsl(0, 0%, 100%);
}

.nodeIcon {
  color: hsl(160, 59%, 55%);
}

.vscodeIcon {
  max-width: 40%;
  margin-bottom: -0.3rem;
}

@media only screen and (min-width: 768px) {
  /* for tablet */
  .vscodeIcon {
    max-width: 33%;
  }
}

@media only screen and (min-width: 900px) {
  /* for laptop */
  .vscodeIcon {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  /* for desktop */
  .vscodeIcon {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1900px) {
  /* for 4k and large screens */
  .vscodeIcon {
    max-width: 15%;
  }
}

@media only screen and (max-width: 280px) {
  /* for Galaxy Fold phone */
  .vscodeIcon {
    max-width: 60%;
  }
}


.jestIcon {
  max-width: 40%;
  margin-bottom: -0.3rem;
}

@media only screen and (min-width: 768px) {
  /* for tablet */
  .jestIcon {
    max-width: 33%;
  }
}

@media only screen and (min-width: 900px) {
  /* for laptop */
  .jestIcon {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  /* for desktop */
  .jestIcon {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1900px) {
  /* for 4k and large screens */
  .jestIcon {
    max-width: 15%;
  }
}

@media only screen and (max-width: 280px) {
  /* for Galaxy Fold phone */
  .jestIcon {
    max-width: 60%;
  }
}


.wordpressIcon {
  color: hsl(195, 48%, 54%);
}

.yarnIcon{
  color: hsl(217, 89%, 76%);
}

.iconCaption {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/* Soft Skills section */

.softskills p {
  text-align: center;
  padding: 0.2rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: bold;
}

.softskills {
  background-color: hsla(230, 36%, 84%, 0.8);
  color: hsl(220, 5%, 11%);
  width: 100vw;
  backdrop-filter: blur(2px);
}

.softskills[data-visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .softskills {
    width: 50vw;
  }

  .softskills[data-visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

/* AboutMe.js */
.aboutMeTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMeTitle h2 {
  font-size: 1.75rem;
}

.aboutMe {
  background-size: contain;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media only screen and (min-width: 400px) {
  .aboutMe {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 980px) {
  /* desktops and laptops */
  .aboutMe {
    background-size: cover;
    background-position: top;
  }
}

@media only screen and (min-width: 1800px) {
  /* large screen desktops */
  .aboutMe {
    background-size: contain;
    background-position: none;
  }
}

.aboutMeContent {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(220, 5%, 11%, 0.8);
  color: hsl(230, 36%, 84%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Projects.js */
.projectsTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projectsTitle h2{
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.previous{
  margin-right: 0.5rem;
  padding: .5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.previous:active{
    color: hsl(132, 100%, 50%);
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 50%), hsl(0, 0%, 100%));
}

.next{
  margin-left: 0.5rem;
  padding: .5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.next:active{
    color: hsl(132, 100%, 50%);
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 50%), hsl(0, 0%, 100%));
}

.projects{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 400px) {
  .projects{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.projectsContent {
    font-family: 'Inconsolata' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(220, 5%, 11%, .8);
    color: hsl(230, 36%, 84%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    backdrop-filter: blur(3px);
}

.projectsContent h3{
    text-align: center;
}

.projectsContent p{
    text-decoration: underline;
    padding-top: 1rem;
}

.projectsContent ul{
    padding-inline-start: 1rem;
    padding-top: .75rem;
}

.link{
    color: hsl(240, 100%, 50%);
    cursor: pointer;
}

.link:hover{
  color: hsl(132, 100%, 50%);
}

.pagespeed{
  width: 40%;
  margin-top: 1.25rem
}

@media only screen and (min-width: 601px) {
  /* tablet and larger screens */
  .pagespeed{
    width: 25%;
  }
}

/* Contact.js */
.contactTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactTitle h2 {
  font-size: 1.75rem;
}

.contact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact p {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  color: hsl(230, 36%, 84%);
  margin-bottom: 1rem;
}

.contact form {
  display: inline-flex;
  flex-direction: column;
  background-color: hsla(220, 5%, 11%, 0.55);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid whitesmoke;
}

.contact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact button {
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.contact button:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

/* Footer.js */
.footer {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer a {
  color: hsl(240, 100%, 50%);
  cursor: pointer;
}

.footer a:hover{
  color: hsl(132, 100%, 50%);
}