@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Secular";
  src: url(../Fonts/SecularOne.ttf);
  font-display: swap;
}

body {
  background-image: url("../Images/new/landscape-portfolio-bg.webp");
  background-size: contain;
}

/* Header.js */
h1.banner {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: white;
  background-color: hsla(220, 5%, 11%, 0.7);
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 600px) {
  h1.banner {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
}

/* TLDR Section */
.tldr {
  color: white;
}

.tldr h2 {
  background-color: hsla(220, 5%, 11%, 0.7);
  border: 3px solid whitesmoke;
  text-align: center;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}

.tldr p {
  background-color: hsla(220, 5%, 11%, 0.7);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (min-width: 600px) {
  .tldr p {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

/* Skills Section */
.skillsTitle h2 {
  color: white;
  background-color: hsla(220, 5%, 11%, 0.7);
  border: 3px solid whitesmoke;
  text-align: center;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}

.skills {
  color: white;
}

@media only screen and (min-width: 601px) {
  .skills {
    display: flex;
    justify-content: space-between;
  }
}

.skills h3 {
  background-color: hsla(220, 5%, 11%, 0.8);
  border-bottom: 3px solid whitesmoke;
  text-align: center;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}

.skills ul {
  background-color: hsla(220, 5%, 11%, 0.7);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 2rem;
  margin-right: 2rem;
  list-style-position: inside;
  list-style-type: circle;
}

@media only screen and (min-width: 600px) {
  .skills ul{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.hardskills {
  width: 100vw;
}

@media only screen and (min-width: 600px) {
  /* for desktop/tablet */
  .hardskills {
    width: 50vw;
  }
}

.softskills {
  width: 100vw;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .softskills {
    width: 50vw;
  }
}

/* AboutMe.js */
.aboutMeTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMeTitle h2 {
  font-size: 1.75rem;
}

.aboutMe {
  background-size: contain;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media only screen and (min-width: 400px) {
  .aboutMe {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 980px) {
  /* desktops and laptops */
  .aboutMe {
    background-size: cover;
    background-position: top;
  }
}

@media only screen and (min-width: 1800px) {
  /* large screen desktops */
  .aboutMe {
    background-size: contain;
    background-position: none;
  }
}

.aboutMeContent {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(220, 5%, 11%, 0.8);
  color: hsl(230, 36%, 84%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Projects.js */
.projectsTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projectsTitle h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

.previous {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.previous:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

.next {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.next:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

.projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 400px) {
  .projects {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.projectsContent {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(220, 5%, 11%, 0.8);
  color: hsl(230, 36%, 84%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  backdrop-filter: blur(3px);
}

.projectsContent h3 {
  text-align: center;
}

.projectsContent p {
  text-decoration: underline;
  padding-top: 1rem;
}

.projectsContent ul {
  padding-inline-start: 1rem;
  padding-top: 0.75rem;
}

.link {
  color: hsl(240, 100%, 50%);
  cursor: pointer;
}

.link:hover {
  color: hsl(132, 100%, 50%);
}

.pagespeed {
  width: 40%;
  margin-top: 1.25rem;
}

@media only screen and (min-width: 601px) {
  /* tablet and larger screens */
  .pagespeed {
    width: 25%;
  }
}

/* Contact.js */
.contactTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactTitle h2 {
  font-size: 1.75rem;
}

.contact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact p {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  color: hsl(230, 36%, 84%);
  margin-bottom: 1rem;
}

.contact form {
  display: inline-flex;
  flex-direction: column;
  background-color: hsla(220, 5%, 11%, 0.55);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid whitesmoke;
}

.contact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.contact button {
  padding: 0.5rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.contact button:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

/* Footer.js */
.footer {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer a {
  color: hsl(240, 100%, 50%);
  cursor: pointer;
}

.footer a:hover {
  color: hsl(132, 100%, 50%);
}
