/* Header */

.altHero{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 3px solid black;
    background-size: 160%;
    background-position: center;
}

@media only screen and (min-width: 601px) {
    .altHero{
        background-size: cover;
        background-position: center;
    }
}

h1.altBanner{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    border-bottom: 3px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p.altBanner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* About Me */

.altAboutMeTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.altAboutMeTitle h2 {
  font-size: 1.75rem;
}

.altAboutMe {
  background-size: contain;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media only screen and (min-width: 400px) {
  .altAboutMe {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.altAboutMeContent {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Skills */

.altSkillsTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.altSkillsTitle h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

.altHardbutton {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altHardbutton:hover {
  background-image: linear-gradient(
    hsl(210, 25%, 97%),
    hsl(150, 1%, 50%),
    hsl(210, 25%, 97%)
  );
}

.altHardbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(0, 100%, 54%);
  background-image: linear-gradient(
    hsl(150, 1%, 50%),
    hsl(0, 0%, 29%),
    hsl(150, 1%, 50%)
  );
}

.altSoftbutton {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altSoftbutton:hover {
  background-image: linear-gradient(
    hsl(240, 100%, 88%),
    hsl(0, 0%, 100%),
    hsl(240, 100%, 88%)
  );
}

.altSoftbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(180, 100%, 65%);
  background-image: linear-gradient(
    hsl(0, 3%, 78%),
    hsl(240, 87%, 80%),
    hsl(0, 3%, 78%)
  );
}

.altSkills{
    border-bottom: 3px solid black;
}

@media only screen and (min-width: 601px) {
  .altSkills {
    display: flex;
    justify-content: space-between;
  }
}

/* Hard Skills section */
.altHardskills {
  display: inline-block;
  width: 100vw;
}

.altHardskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .altHardskills {
    width: 50vw;
  }

  .altHardskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

.altSkillsh2 {
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altSkillsblock {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
}

.wordpress {
  grid-column-start: 2;
}

.altSkillIcon {
  text-align: center;
  padding: 1rem;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  font-size: 250%;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .icon {
    font-size: 210%;
  }
}

.htmlIcon {
  color: hsl(30, 100%, 50%);
}

.cssIcon {
  color: hsl(210, 100%, 50%);
}

.javascriptIcon {
  color: hsl(60, 100%, 50%);
}

.reactIcon {
  color: hsl(195, 91%, 69%);
}

.githubIcon {
  color: hsl(0, 0%, 100%);
}

.vscodeIcon {
  max-width: 40%;
  margin-bottom: -0.3rem;
}

@media only screen and (min-width: 768px) {
  /* for tablet */
  .vscodeIcon {
    max-width: 33%;
  }
}

@media only screen and (min-width: 900px) {
  /* for laptop */
  .vscodeIcon {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  /* for desktop */
  .vscodeIcon {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1900px) {
  /* for 4k and large screens */
  .vscodeIcon {
    max-width: 15%;
  }
}

@media only screen and (max-width: 280px) {
  /* for Galaxy Fold phone */
  .vscodeIcon {
    max-width: 60%;
  }
}

.wordpressIcon {
  color: hsl(195, 48%, 54%);
}

.altIconCaption {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/* Soft Skills section */

.altSoftskills p {
  text-align: center;
  padding: 0.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: bold;
}

.altSoftskills {
  width: 100vw;
}

.altSoftskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .altSoftskills {
    width: 50vw;
  }

  .altSoftskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

/* Projects */

.altProjectsTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.altProjectsTitle h2{
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.altPrevious{
  margin-right: 0.5rem;
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altPrevious:active{
    color: hsl(132, 100%, 50%);
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 50%), hsl(0, 0%, 100%));
}

.altNext{
  margin-left: 0.5rem;
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altNext:active{
    color: hsl(132, 100%, 50%);
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 50%), hsl(0, 0%, 100%));
}

.altProjects{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-bottom: 3px solid black;
}

@media only screen and (min-width: 400px) {
  .altProjects{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.altProjectsContent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.altProjectsContent h3{
    text-align: center;
}

.altProjectsContent p{
    text-decoration: underline;
    padding-top: 1rem;
}

.altProjectsContent ul{
    padding-inline-start: 1rem;
    padding-top: .75rem;
}

/* Contact */

.altContactTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.altContactTitle h2 {
  font-size: 1.75rem;
}

.altContact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.altContact p {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.altContact form {
  display: inline-flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid black;
}

.altContact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.altContact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.altContact button {
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.altContact button:active {
  color: hsl(132, 100%, 50%);
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsl(0, 0%, 100%)
  );
}

/* Footer */

.altFooter {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}