@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
}

@font-face {
  font-family: 'Secular';
  src: url(../Fonts/SecularOne.ttf);
}

.aboutMeTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(354, 91%, 52%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMeTitle h2 {
  font-size: 1.75rem;
}

.aboutMe{
  background-size: contain;
  background-position: center;
  padding: 2rem;
}

@media only screen and (min-width: 980px) {
  /* desktops and laptops */
  .aboutMe{
    background-size: cover;
    background-position: top;
  }
}

@media only screen and (min-width: 1800px) {
  /* large screen desktops */
  .aboutMe{
    background-size: contain;
    background-position: none;
  }
}

.aboutMeContent{
  font-family: 'Inconsolata' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(220, 5%, 11%, .8);
    color: hsl(354, 91%, 52%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}