@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
}

@font-face {
  font-family: 'Secular';
  src: url(../Fonts/SecularOne.ttf);
}

.aboutMeTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(354, 91%, 52%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMeTitle h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}