@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Secular";
  src: url(../Fonts/SecularOne.ttf);
  font-display: swap;
}

.footer {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(230, 36%, 84%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer a {
  color: hsl(240, 100%, 50%);
}
