@font-face {
    font-family: "Inconsolata";
    src: url(../Fonts/InconsolataVariable.ttf);
}

@font-face {
    font-family: 'Secular';
    src: url(../Fonts/SecularOne.ttf);
}

.hero{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: hsl(230, 36%, 84%);
    border-bottom: 3px solid whitesmoke;
    background-image: url('../Images/smileEggBW.webp');
    background-size: 160%;
    background-position: center;
}

@media only screen and (min-width: 601px) {
    .hero{
        background-size: cover;
        background-position: center;
    }
}

h1.banner{
    font-family: 'Secular', Arial, Helvetica, sans-serif;
    color: hsl(230, 36%, 84%);
    background-color: hsla(220, 5%, 11%, .7);
    text-align: center;
    font-size: 4rem;
    border-bottom: 3px solid whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p.banner{
    font-family: 'Inconsolata' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(220, 5%, 11%, .8);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}