@font-face {
  font-family: "Inconsolata";
  src: url(../Fonts/InconsolataVariable.ttf);
}

@font-face {
  font-family: 'Secular';
  src: url(../Fonts/SecularOne.ttf);
}

.skillsTitle {
  font-family: "Secular", Arial, Helvetica, sans-serif;
  color: hsl(354, 91%, 52%);
  background-color: hsla(220, 5%, 11%, 0.7);
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skillsTitle h2 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

.hardbutton {
  margin-right: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(
    hsl(150, 1%, 50%),
    hsl(210, 25%, 97%) 50%,
    hsl(150, 1%, 50%)
  );
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.hardbutton:hover {
  background-image: linear-gradient(
    hsl(210, 25%, 97%),
    hsl(150, 1%, 50%),
    hsl(210, 25%, 97%)
  );
}

.hardbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(0, 100%, 54%);
  background-image: linear-gradient(
    hsl(150, 1%, 50%),
    hsl(0, 0%, 29%),
    hsl(150, 1%, 50%)
  );
}

.softbutton {
  margin-left: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(
    hsl(0, 0%, 100%),
    hsl(240, 100%, 88%),
    hsl(0, 0%, 100%)
  );
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.softbutton:hover {
  background-image: linear-gradient(
    hsl(240, 100%, 88%),
    hsl(0, 0%, 100%),
    hsl(240, 100%, 88%)
  );
}

.softbutton:active {
  background-image: none;
  font-weight: bold;
  color: hsl(180, 100%, 65%);
  background-image: linear-gradient(
    hsl(0, 3%, 78%),
    hsl(240, 87%, 80%),
    hsl(0, 3%, 78%)
  );
}

.skills {
  background-image: url("../Images/skillsBW.webp");
  background-size: cover;
}

@media only screen and (min-width: 601px) {
  .skills {
    display: flex;
    justify-content: space-between;
  }
}

/* Hard Skills section */
.hardskills {
  background-color: hsla(220, 5%, 11%, 0.8);
  backdrop-filter: blur(3px);
  display: inline-block;
  color: hsl(230, 36%, 84%);
  width: 100vw;
}

.hardskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .hardskills {
    width: 50vw;
  }

  .hardskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

.skillsh2 {
  text-align: center;
  padding: 1rem;
  font-family: "Secular", Arial, Helvetica, sans-serif;
}

.skillsblock {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
}

.wordpress {
  grid-column-start: 2;
}

.skillIcon {
  text-align: center;
  padding: 1rem;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  font-size: 250%;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .icon {
    font-size: 210%;
  }
}

.htmlIcon {
  color: hsl(30, 100%, 50%);
}

.cssIcon {
  color: hsl(210, 100%, 50%);
}

.javascriptIcon {
  color: hsl(60, 100%, 50%);
}

.reactIcon {
  color: hsl(195, 91%, 69%);
}

.githubIcon {
  color: hsl(0, 0%, 100%);
}

.vscodeIcon {
  max-width: 40%;
  margin-bottom: -0.3rem;
}

@media only screen and (min-width: 768px) {
  /* for tablet */
  .vscodeIcon {
    max-width: 33%;
  }
}

@media only screen and (min-width: 900px) {
  /* for laptop */
  .vscodeIcon {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  /* for desktop */
  .vscodeIcon {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1900px) {
  /* for 4k and large screens */
  .vscodeIcon {
    max-width: 15%;
  }
}

@media only screen and (max-width: 280px) {
  /* for Galaxy Fold phone */
  .vscodeIcon {
    max-width: 60%;
  }
}

.wordpressIcon {
  color: hsl(195, 48%, 54%);
}

.iconCaption {
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/* Soft Skills section */

.softskills p {
  text-align: center;
  padding: 0.2rem;
  font-family: "Inconsolata", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: bold;
}

.softskills {
  background-color: hsla(230, 36%, 84%, 0.8);
  color: hsl(220, 5%, 11%);
  width: 100vw;
  backdrop-filter: blur(2px);
}

.softskills[visibility="1"]{
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .softskills {
    width: 50vw;
  }

  .softskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}
