@font-face {
  font-family: "Dots";
  src: url(../Fonts/Codystar.ttf);
  font-display: swap;
}

@font-face {
  font-family: "CormorantInfant";
  src: url(../Fonts/CormorantInfant.ttf);
  font-display: swap;
}

.modernLight {
  background-color: hsl(188, 100%, 94%);
  color: hsl(188, 85%, 26%);
}

/* Header.js */
h1.modernLight-banner {
  font-family: "Dots", fantasy;
  text-align: center;
  font-size: 3.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 700px) {
  h1.modernLight-banner {
    font-size: 4.5rem;
  }
}

/* Style Nav Section */
.modernLight-style {
  border-top: 5px solid hsl(188, 85%, 26%);
  border-bottom: 5px solid hsl(188, 85%, 26%);
  border-radius: 2rem;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.modernLight-style h2 {
  text-align: center;
  font-family: "Dots", fantasy;
}

.modernLight-style nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "CormorantInfant", serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.modernLight-style p {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.modernLight-style span {
  color: hsl(188, 90%, 51%);
}

.modernLight-style span:hover {
  color: hsl(52, 17%, 64%);
}

/* Skills.js */
.modernLight-hero {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

p.modernLight-banner {
  font-family: "CormorantInfant", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid hsl(188, 85%, 26%);
  border-radius: 1rem;
}

.modernLight-skillsTitle {
  text-align: center;
  padding-bottom: 1rem;
}

.modernLight-skillsTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernLight-skillsTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernLight-hardbutton {
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
}

.modernLight-hardbutton[showing="0"] {
  color: darkgrey;
}

.modernLight-hardbutton:hover {
  color: darkgrey;
}

.modernLight-hardbutton:active {
  font-weight: bold;
  color: hsl(188, 85%, 26%);
}

.modernLight-softbutton {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
}

.modernLight-softbutton[showing="0"] {
  color: darkgrey;
}

.modernLight-softbutton:hover {
  color: darkgrey;
}

.modernLight-softbutton:active {
  font-weight: bold;
  color: hsl(188, 85%, 26%);
}

@media only screen and (min-width: 601px) {
  .modernLight-skills {
    display: flex;
    justify-content: space-between;
  }
}

/* Hard Skills section */
.modernLight-hardskills {
  display: inline-block;
  width: 100vw;
  border-top: 5px solid hsl(188, 85%, 26%);
  border-bottom: 5px solid hsl(188, 85%, 26%);
  border-radius: 2rem;
}

.modernLight-hardskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .modernLight-hardskills {
    width: 50vw;
  }

  .modernLight-hardskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

.modernLight-skillsh2 {
  text-align: center;
  padding: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1.75rem;
}

.modernLight-icon {
  display: none;
}

.modernLight-iconCaption {
  padding: 0.2rem;
}

.modernLight-skillIcon {
  text-align: center;
}

.modernLight-vscodeIcon {
  display: none;
}

.modernLight-iconCaption {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
}

/* Soft Skills section */

.modernLight-softskills p {
  text-align: center;
  padding: 0.2rem;
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
}

.modernLight-softskills {
  border-top: 5px solid hsl(188, 85%, 26%);
  border-bottom: 5px solid hsl(188, 85%, 26%);
  border-radius: 2rem;
  width: 100vw;
}

.modernLight-softskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .modernLight-softskills {
    width: 50vw;
  }

  .modernLight-softskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

/* AboutMe.js */
.modernLight-aboutMeTitle {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernLight-aboutMeTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernLight-aboutMeTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernLight-aboutMeContent {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Projects.js */
.modernLight-projectsTitle {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernLight-projectsTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 700px) {
  .modernLight-projectsTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernLight-previous {
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
}

.modernLight-previous:hover {
  color: darkgrey;
}

.modernLight-previous:active {
  font-weight: bold;
  color: hsl(188, 85%, 26%);
}

.modernLight-next {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  color: black;
}

.modernLight-next:hover {
  color: darkgrey;
}

.modernLight-next:active {
  font-weight: bold;
  color: hsl(188, 85%, 26%);
}

.modernLight-projects {
  border-top: 5px solid hsl(188, 85%, 26%);
  border-bottom: 5px solid hsl(188, 85%, 26%);
  border-radius: 2rem;
}

.modernLight-projectsContent {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modernLight-projectsContent h3 {
  text-align: center;
}

.modernLight-projectsContent p {
  text-decoration: underline;
  padding-top: 1rem;
}

.modernLight-projectsContent ul {
  padding-inline-start: 1rem;
  padding-top: 0.75rem;
}

.modernLight-link {
  color: hsl(188, 90%, 51%);
  text-decoration: none;
}

.modernLight-link:hover {
  color: hsl(52, 17%, 64%);
}

.modernLight-pagespeed {
  display: none;
}

/* Contact.js */
.modernLight-contactTitle {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernLight-contactTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernLight-contactTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernLight-contact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modernLight-contact p {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: hsl(188, 100%, 94%);
}

.modernLight-contact form {
  display: inline-flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid hsl(188, 85%, 26%);
  border-radius: 1rem;
  background-color: hsl(188, 85%, 26%);
}

.modernLight-contact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1rem;
  background-color: hsl(188, 100%, 94%);
  border: 1px solid hsl(188, 85%, 26%);
  border-radius: 1rem;
}

.modernLight-contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1rem;
  background-color: hsl(188, 100%, 94%);
  border: 1px solid hsl(188, 85%, 26%);
  border-radius: 1rem;
}

.modernLight-contact button {
  padding: 0.5rem;
  font-family: fantasy;
  background-color: hsl(188, 100%, 94%);
  font-size: 1rem;
  border: 1px solid hsl(188, 85%, 26%);
  border-radius: 1rem;
}

.modernLight-contact button:hover {
  color: darkgrey;
}

.modernLight-contact button:active {
  font-weight: bold;
  color: hsl(188, 85%, 26%);
}

/* Footer.js */
.modernLight-footer {
  font-family: "CormorantInfant", serif;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modernLight-footerIcon {
  display: none;
}

.modernLight-footer a {
  color: hsl(188, 90%, 51%);
  margin-left: -0.4rem;
  text-decoration: none;
}

.modernLight-footer a:hover {
  color: hsl(52, 17%, 64%);
}
