@font-face {
  font-family: "Dots";
  src: url(../Fonts/Codystar.ttf);
  font-display: swap;
}

@font-face {
  font-family: "CormorantInfant";
  src: url(../Fonts/CormorantInfant.ttf);
  font-display: swap;
}

.modernDark {
  background-color: hsl(14, 20%, 29%);
  color: hsl(14, 100%, 88%);
}

/* Header.js */
h1.modernDark-banner {
  font-family: "Dots", fantasy;
  text-align: center;
  font-size: 3.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 700px) {
  h1.modernDark-banner {
    font-size: 4.5rem;
  }
}

/* Style Nav Section */
.modernDark-style {
  border-top: 5px solid hsl(164, 37%, 45%);
  border-bottom: 5px solid hsl(164, 37%, 45%);
  border-radius: 2rem;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.modernDark-style h2 {
  text-align: center;
  font-family: "Dots", fantasy;
}

.modernDark-style nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "CormorantInfant", serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.modernDark-style p {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.modernDark-style span {
  color: hsl(188, 90%, 51%);
  cursor: pointer;
}

.modernDark-style span:hover {
  color: hsl(52, 17%, 64%);
}

/* Skills.js */
.modernDark-hero {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

p.modernDark-banner {
  font-family: "CormorantInfant", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid hsl(164, 37%, 45%);
  border-radius: 1rem;
}

.modernDark-skillsTitle {
  text-align: center;
  padding-bottom: 1rem;
}

.modernDark-skillsTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernDark-skillsTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernDark-hardbutton {
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(57, 100%, 93%);
  border: none;
  cursor: pointer;
}

.modernDark-hardbutton[showing="0"] {
  color: darkgrey;
}

.modernDark-hardbutton:hover {
  color: darkgrey;
}

.modernDark-hardbutton:active {
  font-weight: bold;
  color: hsl(164, 37%, 45%);
}

.modernDark-softbutton {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(57, 100%, 93%);
  border: none;
  cursor: pointer;
}

.modernDark-softbutton[showing="0"] {
  color: darkgrey;
}

.modernDark-softbutton:hover {
  color: darkgrey;
}

.modernDark-softbutton:active {
  font-weight: bold;
  color: hsl(164, 37%, 45%);
}

@media only screen and (min-width: 601px) {
  .modernDark-skills {
    display: flex;
    justify-content: space-between;
  }
}

/* Hard Skills section */
.modernDark-hardskills {
  display: inline-block;
  width: 100vw;
  border-top: 5px solid hsl(164, 37%, 45%);
  border-bottom: 5px solid hsl(164, 37%, 45%);
  border-radius: 2rem;
}

.modernDark-hardskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .modernDark-hardskills {
    width: 50vw;
  }

  .modernDark-hardskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

.modernDark-skillsh2 {
  text-align: center;
  padding: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1.75rem;
}

.modernDark-icon {
  display: none;
}

.modernDark-iconCaption {
  padding: 0.2rem;
}

.modernDark-skillIcon {
  text-align: center;
}

.modernDark-vscodeIcon {
  display: none;
}

.modernDark-iconCaption {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
}

/* Soft Skills section */

.modernDark-softskills p {
  text-align: center;
  padding: 0.2rem;
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
}

.modernDark-softskills {
  border-top: 5px solid hsl(164, 37%, 45%);
  border-bottom: 5px solid hsl(164, 37%, 45%);
  border-radius: 2rem;
  width: 100vw;
}

.modernDark-softskills[visibility="1"] {
  display: none;
}

@media only screen and (min-width: 601px) {
  /* for desktop/tablet */
  .modernDark-softskills {
    width: 50vw;
  }

  .modernDark-softskills[visibility="1"] {
    visibility: hidden;
    display: inline-block;
  }
}

/* AboutMe.js */
.modernDark-aboutMeTitle {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernDark-aboutMeTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernDark-aboutMeTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernDark-aboutMeContent {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Projects.js */
.modernDark-projectsTitle {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernDark-projectsTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 700px) {
  .modernDark-projectsTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernDark-previous {
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(57, 100%, 93%);
  border: none;
  cursor: pointer;
}

.modernDark-previous:hover {
  color: darkgrey;
}

.modernDark-previous:active {
  font-weight: bold;
  color: hsl(164, 37%, 45%);
}

.modernDark-next {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: fantasy;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, 0);
  border: none;
  color: hsl(57, 100%, 93%);
  cursor: pointer;
}

.modernDark-next:hover {
  color: darkgrey;
}

.modernDark-next:active {
  font-weight: bold;
  color: hsl(164, 37%, 45%);
}

.modernDark-projects {
  border-top: 5px solid hsl(164, 37%, 45%);
  border-bottom: 5px solid hsl(164, 37%, 45%);
  border-radius: 2rem;
}

.modernDark-projectsContent {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modernDark-projectsContent h3 {
  text-align: center;
}

.modernDark-projectsContent p {
  text-decoration: underline;
  padding-top: 1rem;
}

.modernDark-projectsContent ul {
  padding-inline-start: 1rem;
  padding-top: 0.75rem;
}

.modernDark-link {
  color: hsl(188, 90%, 51%);
  text-decoration: none;
  cursor: pointer;
}

.modernDark-link:hover {
  color: hsl(52, 17%, 64%);
}

.modernDark-pagespeed {
  display: none;
}

/* Contact.js */
.modernDark-contactTitle {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.modernDark-contactTitle h2 {
  font-family: "Dots", fantasy;
  text-align: right;
  font-size: 2.5rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 700px) {
  .modernDark-contactTitle h2 {
    font-size: 3.5rem;
    padding-right: 6rem;
  }
}

.modernDark-contact {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modernDark-contact p {
  font-family: "CormorantInfant", serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: hsl(14, 100%, 88%);
}

.modernDark-contact form {
  display: inline-flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid hsl(164, 37%, 45%);
  border-radius: 1rem;
  background-color: hsl(164, 37%, 45%);
}

.modernDark-contact input {
  text-align: center;
  padding: 0.65rem;
  margin-bottom: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1rem;
  background-color: hsl(14, 20%, 29%);
  border: 1px solid hsl(164, 37%, 45%);
  border-radius: 1rem;
}

.modernDark-contact input::placeholder{
    color: hsl(14, 100%, 88%);
}

.modernDark-contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "CormorantInfant", serif;
  font-size: 1rem;
  background-color: hsl(14, 20%, 29%);
  border: 1px solid hsl(164, 37%, 45%);
  border-radius: 1rem;
}

.modernDark-contact textarea::placeholder{
    color: hsl(14, 100%, 88%);
}

.modernDark-contact button {
  padding: 0.5rem;
  font-family: fantasy;
  background-color: hsl(14, 100%, 88%);
  font-size: 1rem;
  border: 1px solid hsl(164, 37%, 45%);
  border-radius: 1rem;
  cursor: pointer;
}

.modernDark-contact button:hover {
  color: darkgrey;
}

.modernDark-contact button:active {
  font-weight: bold;
  color: hsl(164, 37%, 45%);
}

/* Footer.js */
.modernDark-footer {
  font-family: "CormorantInfant", serif;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modernDark-footerIcon {
  display: none;
}

.modernDark-footer a {
  color: hsl(188, 90%, 51%);
  margin-left: -0.4rem;
  text-decoration: none;
  cursor: pointer;
}

.modernDark-footer a:hover {
  color: hsl(52, 17%, 64%);
}
